<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Master" connectionString="Server=.\SQLEXPRESS;Database=Master;Trusted_connection=True;Connection Timeout=5;" providerName="System.Data.SqlClient"/>
		<add name="MarrariDb" connectionString="Server=.\SQLEXPRESS;Database=MarrariDb;Trusted_connection=True;Connection Timeout=5;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>